*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: sans-serif;
}



.section{
    max-width: 1460px;
    height: 750px;
    margin: 0 auto;
    padding: 0 40px;
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.contener{
    padding-top: 150px;
    width: 80%;
    margin: 0 auto;
}

.hero{
    margin-left: 400px;
    background-color: #fff;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    position: relative;
}

.wrappers{
    display: flex;
    position: absolute;
    top: 50px;
}

.div-title, .title1{
    font-size: 50px;
    margin: 0 40px;
    color: #3B8ACF;
}

.span2{
    font-size: 60px;
    color: #D3E6F4;
}

.span1{
    font-size: 19px;
    color: #B1B6BB;
    padding: 10px;
}


.div-box2{
    display: flex;
    position: absolute;
    top: 180px;
}

.div-box3{
    margin: 0 40px;
}

.title2{
    font-size: 16px;
    color: #B1B6BB
}

.span3{
    font-size: 24px;
}

.div-box5{
    position: absolute;
    top: 250px;
    margin: 0 39px;
}

.div-box6{
    margin: 20px 0;
}

.span4{
    font-size: 14px;
    color :#B1B6BB; ;
}

.img{
    position: absolute;
    top: 250px;
    left:200px;
}